/*
This is the main CSS file for my webpage
*/


/* Html Elements */

html {
    background-color: #EBEBEB;
    font: normal 12px "Trebuchet MS", Verdana, "Lucida Grande", Georgia, Sans-Serif;  
}

body {
    padding: 0;
    clear: both;
    margin: 0 auto;
    text-align: center;	
}

a { 
    color: #4E92F1;
    font-weight: bold;
    text-decoration:none;
}

h1, h2{
    font-weight: normal;
    margin: 5px 0 10px;
    padding: 0;
}

h1 a, h2 a{
    color: #2578EC;
    font-weight: normal;
    border-bottom-width: 0;
}

/* Container */
#container {
    background-color: white;
    background-image: url(../img/bg.png);
    width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 8px 2px rgba(78, 146, 241, 0.5);
    -moz-box-shadow: 0px 0px 8px 2px rgba(78, 146, 241, 0.5);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(78, 146, 241, 0.5);
}


/* header */

#header {
    text-align:center; 
    vertical-align:middle; 
    padding: 6px 0 6px;
    color: #fff;
    font-size: 1em;
/*    background-color: #2578EC;*/
    background : url(../img/slide-bg.png) 0 0;
}

#header a:link,
#header a:visited
{
	color: #eff8ff;
}


/* Slider */
#slider {
    float: left;
    width: 100%;
    clear: both;
}

div.wrap {
    width : 96%;
    height : 240px;
    margin : 0 auto;
    text-align : left;
}

#slide-holder {
    z-index : 40;
    width : 864px;
    height : 200px;
    position : absolute;
    border: 1px solid #392222;
}

#slide-holder #slide-runner {
    width : 864px;
    height : 200px;
    overflow : hidden;
    position : absolute;
}

#slide-holder img {
    margin : 0;
    display : none;
    position : absolute;
}

#slide-holder #slide-controls {
    left : 0;
    bottom : 0px;
    width : 864px;
    height : 27px;
    display : none;
    position : absolute;
    background : url(../img/slide-bg.png) 0 0;
}

#slide-holder #slide-controls p.text {
    float : left;
    color : white;
    display : inline;
    font-size : 10px;
    line-height : 16px;
    margin : 7px 0 0 7px;
    text-transform : uppercase;
}

#slide-holder #slide-controls p#slide-nav {
    float : right;
    height : 24px;
    display : inline;
    margin : 2px 4px 0 0;
}

#slide-holder #slide-controls p#slide-nav a {
    float : left;
    width : 24px;
    height : 24px;
    display : inline;
    font-size : 11px;
    margin : 0 5px 0 0;
    line-height : 24px;
    font-weight : bold;
    text-align : center;
    text-decoration : none;
    background-position : 0 20;
    background-repeat : no-repeat;
}
#slide-holder #slide-controls p#slide-nav a.on {
    background-position : 0 -24px;
}

#slide-holder #slide-controls p#slide-nav a {
    background-image : url(../img/silde-nav.png);
    color: white;
}

/* Navigation */

#navigation-sup {
    margin-top: 1.5%;
    float: left;
    width: 96%;
    clear: both;
    padding-left: 2%;
    font: normal 12px "Trebuchet MS", Verdana, "Lucida Grande", Georgia, Sans-Serif;
}


#navigation-sup ul
{
    padding: 0;
	width: 100%;
    height: 30px;
	float: left;
	margin: 0 0 10px;
	list-style-type: none;
	background-color: #4E92F1;
	border: 1px solid #392222;
}

#navigation-sup a:link,
#navigation-sup a:visited
{
	float: left;
	display: block;
	color: #eff8ff;
	padding: 8px 18px;
	border-bottom-width: 0;
}

#navigation-sup li a {
    text-align: center;
    background: #4E92F1;
    color: white;
    display: block;
    padding: 8px 18px;
}

#navigation-sup li a:hover,
#navigation-sup a:active {
    background: #2578EC;
}

li#lihome a{
    background-color: #2578EC;
}


/* menu */

#menu {
    margin-top: -3.5%;
    float: left;
    width: 15%;
    clear: both;
    padding-left: 1.5%;
}

* {
    list-style:none;
    text-decoration:none;
    margin:0;
    padding:0;
}

.nav-menu > li {
    width: 100%;
    float:left;
}

.nav-menu li a {
    text-align: left;
    background: #4E92F1;
    border: 1px solid #392222;
    color: white;
    display: block;
    padding: 8px 12px;
}

.nav-menu li a:hover {
    background: #2578EC;
}

.nav-menu li {
    position: relative;
    padding: 4px 5px;
}


/* main-body */

#main-body {
	width: 82%;
	margin-top: -2.5%;
	margin-left: 1%;
	float: left;
	text-align:justify;
}


/* Footer */
#footer {    
    clear: both;
    padding: 10px 0 10px;
    text-align: center;
    color: #fff;
    font-size: 1em;
    background : url(../img/slide-bg.png) 0 0;
}

#footer a{
	color: #eff8ff;
}

.copyleft {
    display: inline-block;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
